/* noto-sans-regular - latin */
@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts NotoSans
    local("NotoSans Regular Regular"),   // Full Name
    local("NotoSans-Regular"),           // PostScript name
      // indestructible NotoSans*
    local("NotoSans* Book"),
    local("NotoSans-Book"),
    url("fonts/vendor/noto-sans/NotoSans-Regular.ttf") format("truetype");
}

/* noto-sans-500 - latin */
@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts NotoSans
    local("NotoSans Regular Medium"),
    local("NotoSans-Medium"),
      // indestructible NotoSans*
    local("NotoSans* Medium"),
    local("NotoSans-Medium"),
    url("fonts/vendor/noto-sans/NotoSans-Medium.ttf") format("truetype");
}

/* noto-sans-700 - latin */
@font-face {
  font-family: Noto Sans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts NotoSans
    local("NotoSans Regular Bold"),
    local("NotoSans-Bold"),
      // indestructible NotoSans*
    local("NotoSans* Bold"),
    local("NotoSans-Bold"),
    url("fonts/vendor/noto-sans/NotoSans-Bold.ttf") format("truetype");
}

/* noto-sans-italic - latin */
@font-face {
  font-family: Noto Sans;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts NotoSans
    local("NotoSans Italic Italic"),
    local("NotoSans-Italic"),
      // indestructible NotoSans*
    local("NotoSans* BookItalic"),
    local("NotoSans-BookItalic"),
    url("fonts/vendor/noto-sans/NotoSans-Italic.ttf") format("truetype");
}

/* noto-sans-500italic - latin */
@font-face {
  font-family: Noto Sans;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts NotoSans
    local("NotoSans Italic Medium Italic"),
    local("NotoSansItalic-Medium"),
      // indestructible NotoSans*
    local("NotoSans* Medium Italic"),
    local("NotoSans-MediumItalic"),
    url("fonts/vendor/noto-sans/NotoSans-MediumItalic.ttf") format("truetype");
}

/* noto-sans-700italic - latin */
@font-face {
  font-family: Noto Sans;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts NotoSans
    local("NotoSans Italic Bold Italic"),
    local("NotoSansItalic-Bold"),
      // indestructible NotoSans*
    local("NotoSans* Bold Italic"),
    local("NotoSans-BoldItalic"),
    url("fonts/vendor/noto-sans/NotoSans-BoldItalic.ttf") format("truetype");
}

/* jost-regular - latin */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Regular Regular"),   // Full Name
    local("Jost-Regular"),           // PostScript name
    // indestructible Jost*
    local("Jost* Book"),
    local("Jost-Book"),
    url("fonts/vendor/jost/jost-v4-latin-regular.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-500 - latin */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Regular Medium"),
    local("JostRoman-Medium"),
    // indestructible Jost*
    local("Jost* Medium"),
    local("Jost-Medium"),
    url("fonts/vendor/jost/jost-v4-latin-500.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-700 - latin */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Regular Bold"),
    local("JostRoman-Bold"),
    // indestructible Jost*
    local("Jost* Bold"),
    local("Jost-Bold"),
    url("fonts/vendor/jost/jost-v4-latin-700.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-italic - latin */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Italic"),
    local("Jost-Italic"),
    // indestructible Jost*
    local("Jost* BookItalic"),
    local("Jost-BookItalic"),
    url("fonts/vendor/jost/jost-v4-latin-italic.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-500italic - latin */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Medium Italic"),
    local("JostItalic-Medium"),
    // indestructible Jost*
    local("Jost* Medium Italic"),
    local("Jost-MediumItalic"),
    url("fonts/vendor/jost/jost-v4-latin-500italic.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-700italic - latin */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Bold Italic"),
    local("JostItalic-Bold"),
    // indestructible Jost*
    local("Jost* Bold Italic"),
    local("Jost-BoldItalic"),
    url("fonts/vendor/jost/jost-v4-latin-700italic.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
